
.pet {
    background: #000;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .pet.name {
    border-left: 5px solid green;
  }
  
  .pet h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }